[receive]
        requireChangeId = true
[submit]
        mergeContent = true
        action = merge always
[access "refs/heads/*"]
	forgeAuthor = group Administrators
	forgeCommitter = group Administrators
	forgeServerAsCommitter = group Administrators
	label-Verified = -1..+1 group android_system_security
	owner = group android_system_security
